body{
    background: black;
    color: rgb(182, 180, 46);
    font-family: monospace;
    font-size: 1.2rem;
    font-weight: bold;
}

header{
    color: rgb(219, 59, 59);
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 5%
}

#box-interno{
    display: flex;
    justify-content: center;
    
}

button{
    cursor: pointer;
    width: 10%;
    border-radius: 1rem;;
    background-color:rgb(219, 59, 59);
    color: black;
    font-family: monospace;
    font-size: .6rem;
    font-weight: bold;
}

button:hover{
    background-color: rgb(182, 180, 46);
    color:rgb(219, 59, 59);
}

-ms-input-placeholder,
 moz-placeholder,
::-webkit-input-placeholder {
    color:rgb(219, 59, 59);
    font-weight: bold;
    font-size: 1rem;
 }
  

  

  
 